*{
    margin: 0;
    padding: 0;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(sky.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.highway{
    height: 200px;
    width: 500%;
    background-image: url(road.jpeg);
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    animation: highway 5s linear infinite;
    background-repeat: repeat-x;
    z-index: 1;
}
@keyframes highway{
    100%{
        transform: translateX(-3400px);

    }
}
.city{
    height: 250px;
    width: 500%;
    background-image: url(city.jpeg);
    background-size: 500px 300px;
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    z-index: 1;
    animation: city 5s linear infinite;
}

@keyframes city{
    100%{
        transform: translateX(-1200px);
    }
}
.car{
    position: absolute;
    width: 300px;

    left: 10%;
    bottom: 0px;
    z-index: 2;
    transform: translateX(-50%);
    animation: car 2s linear infinite;
}
.car img{
    width: 100%;
}
@keyframes car{
    100%{
        transform: translateY(-3px);
    }
    50%{
        transform: translateY(3px);
    }
    0%{
        transform: translateY(-3px);
    }

}

.wheel{
    /* background-image: url(wheel.jpeg); */
    left: 10%;
    bottom: 180px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 4;
}
.wheel img{
    width: 60px;
    height: 60px;
    animation: wheel 5s linear infinite;

}

.back-wheel{
    position: absolute;
    left: 25px;
    bottom: -170px;
}
.front-wheel{
    position: absolute;
    left: 207px;
    bottom: -170px;
}

@keyframes wheel{
    100%{
        transform: rotate(360deg);
    }
}